@font-face {
  font-family: 'GlacialIndifference';
  src: url('../fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: 'CooperHewittMedium';
  src: url('../fonts/CooperHewitt-Medium.otf');
}

h1 {
  text-align: center;
}

body {
  font-family: GlacialIndifference;
  font-size: 1.8em;
  background-color: #191919;
  color: #fff;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #3d92db;
}

/* Modal */
.modal-content {
  background-color: #16181a;
  color: #fff;
  font-family: GlacialIndifference;
}

.box h3 {
  font-family: CooperHewittMedium;
  margin-bottom: 0.6em;
  font-size: 1em;
}

.url p {
  padding-left: 0.6em;
  -webkit-transition: padding-left 0.3s;
  /* Safari */
  transition: padding-left 0.3s;
}

.url p:hover {
  padding-left: 1em;
}

.error-input, .error-input:focus {
  background-color: #ffcccc;
  border: 1px solid red;
}

.EditForm, .sectionEditForm {
  border: 1px solid #3a3a3a;
  padding: 20px;
  border-radius: 15px;
}

#renderedSites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  padding: 0px 25px;
  width: 250px;
}

.warningMsg, .badge-warning {
  font-size: 15px;
  background-color: #ffbd39;
  color: #25292d;
}

.successMsg, .badge-success {
  font-size: 15px;
  background-color: #1ca550;
  color: #FFFFFF;
}
